@import './variables.scss';
body {
    background-image: url(../images/bg.png);
    font-family: "DM Sans", sans-serif;
    color: $primary-color;
}

.container {
    margin: 0 auto;
    max-width: 1157px;
}

.logo {
    padding-top: 18px;
}

.navbar {
    float: right;
    width: 924px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    padding-top: 36px;
    li {
        display: inline-block;
        padding: 11px;
    }
}

.footer {
    background-color: #001B4D;
    width: 100%;
    height: 625px;
}

.social-icon {
    padding-left: 80px;
    margin-top: -15px;
    padding-bottom: 90px;
}

.social {
    font-size: 16px;
    font-weight: 100;
}

.ft-head-text-style {
    font-size: 11px;
    color: #a5abb7;
    padding-bottom: 15px;
}

.ft-contact {
    font-size: 20px;
}

.ft-list {
    margin-left: -16px;
    li {
        line-height: 21.9px;
        font-size: 14px;
    }
}

.address {
    line-height: 20px;
    font-size: 14px;
    width: 75px;
}

.copy {
    padding-top: 120px;
    color: #a5abb7;
    font-size: 12px;
    font-weight: 100;
}