@import './variables.scss';
body {
    font-family: "DM Sans", sans-serif;
    background: linear-gradient(to bottom right, #ff6b57, #e74c6d, #ef5666);
    background-repeat: no-repeat;
}

.container {
    margin: 0 auto;
    max-width: 1157px;
}

.header {
    /* background: linear-gradient(to right, #ff6b57, #f9645c, #f8625e);*/
}

.navbar {
    float: right;
    width: 924px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    padding-top: 18px;
    color: $primary-color;
    li {
        display: inline-block;
        padding: 11px;
    }
}