@import './variables.scss';
body {
    font-family: "DM Sans", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1157px;
}

.logo {
    padding-top: 18px;
}

.navbar {
    float: right;
    width: 924px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    padding-top: 36px;
    color: $primary-color;
    li {
        display: inline-block;
        padding: 11px;
    }
}