@import './variables.scss';
img {
    max-width: 100%;
}

.global-vertical-padding {
    padding-top: 90px;
    padding-bottom: 90px;
}

.global-padding-top {
    padding-top: 90px;
}

.global-padding-bottom {
    padding-bottom: 90px;
}

.padding-top-sm {
    padding-top: 50px;
}

.tac {
    text-align: center;
}

.white-text {
    color: #fff;
}

.blue-text {
    color: $secondary-color;
}

.light-blue {
    background-color: #e1ebf2;
}

.banner {
    background: linear-gradient(to bottom right, #ff6b57, #f25c5e, #f1356c, #e74c6d);
    margin-top: -75px;
}

.banner-title {
    width: 465px;
    padding-top: 167px;
}

.primary-heading {
    font-size: 75px;
    font-weight: bold;
    line-height: 66px;
    letter-spacing: 2px;
}

.banner-content {
    width: 469px;
    padding-top: 43px;
}

.introduction {
    font-size: 18px;
    line-height: 24px;
    font-weight: lighter;
}

.btn {
    width: 312px;
    background-color: #10233d;
    height: 71px;
    border: none;
    color: #f6f6f6;
    font-size: 15px;
    font-weight: bold;
    line-height: 8.14px;
    letter-spacing: 1px;
    text-align: left;
    padding-left: 49px;
    padding-bottom: 9px;
    text-transform: uppercase;
    margin: 34px 0px 89px 0px;
    cursor: pointer;
}

.primary-btn {
    background-color: $tertiary-color;
    width: 255px;
    height: 65px;
}

.top-margin {
    margin-top: -25px;
}

.primary-button-arrow {
    width: 62px;
    padding-left: 40px;
}

.tag {
    border: 1px solid #ed5368;
    padding: 3px 7px;
}

.mj-exports-banner {
    float: right;
    margin-top: -57px;
    height: 658px;
}

.button-arrow {
    width: 35px;
    margin-left: 98px;
}

.slider {
    width: 41%;
    position: absolute;
    right: 0;
    height: auto;
    overflow: hidden;
}

.item {
    width: 852px;
    margin-left: -1px;
}

.slider-image {
    height: auto;
}

.mj-exports-intro {
    background-repeat: repeat;
}

.intro {
    padding-left: 140px;
    padding-right: 140px;
}

.intro-heading {
    font-size: 30px;
    font-weight: 100;
    line-height: 40px;
}

.icons {
    padding-left: 150px;
}

.icon-box {
    display: inline-block;
    margin-left: 97px;
}

.white-box {
    width: 135px;
    height: 117px;
    border-radius: 12px;
    box-shadow: 0px 3px 20px -10px #d3d3d3;
    background-color: white;
}

.icon {
    padding: 24px 0px 0px 37px;
}

.icon-content {
    width: 163px;
    margin-left: -15px;
    padding-top: 56px;
    color: $secondary-color;
    font-size: 18px;
    line-height: 22px;
}

.gradient-box {
    width: 558px;
    background: linear-gradient(to bottom right, #ff6b57, #f55d61, #f1356c, #e74c6d);
    margin-top: 160px;
}

.grad-content-padding {
    padding-left: 88px;
    padding-right: 91px;
}

.seconday-heading {
    font-size: 50px;
    font-weight: normal;
}

.grad-box-intro {
    padding-top: 35px;
    padding-bottom: 35px;
}

.product-images {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-column-gap: 164px;
}

.product-padding {
    padding-top: 21px;
}

.product-alignment {
    margin-top: -261px;
}

.grad-text {
    background: linear-gradient(to bottom right, #ff6b57, #fa655b, #f1356c, #e74c6d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.text-padding {
    padding: 15px 73px 15px 24px;
}

.icon-grid {
    display: inline-block;
    padding-left: 88px;
}

.numbers {
    width: 100%;
}

.inner-bnr-img1 {
    width: 945px;
    height: 598px;
}

.inner-banner {
    right: 35%;
    position: relative;
}

.inner-number {
    position: relative;
    width: 84%;
    height: 688px;
    left: 48.1%;
    background-color: #fff;
    box-shadow: -2px -15px 67px #e1ebf2;
}

.pink-text {
    color: $tertiary-color;
    text-transform: uppercase;
    font-size: 11px;
}

.grad-box-intro-modify {
    width: 390px;
}

.white-box-padding {
    padding-left: 135px;
    padding-right: 100px;
}

.white-box-grid {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
}

.large-text {
    font-size: 75px;
}

.grid-text-padding {
    padding-top: 15px;
    padding-bottom: 35px;
}

.blog {
    width: 100%;
    float: left;
}

.global-grid {
    display: grid;
    grid-template-columns: 345px 345px 345px;
    grid-column-gap: 53px;
    grid-row-gap: 70px;
    padding-top: 50px;
}

.product-text {
    font-size: 23px;
    font-weight: 100;
    line-height: 32px;
    padding: 25px 0px 15px 0px;
}

.right-arrow {
    margin: -37px 0px 0px 121px;
}

.pink-arrow {
    margin: -27px 0px 0px 84px;
}

.hl {
    border-bottom: 1px solid #bfc1c9;
    width: 428px;
}

.hl-footer {
    width: 1125px;
    border-bottom: 1px solid #3a5274;
    &.hl-exp {
        width: 550px;
    }
}

.dotted-bg {
    position: absolute;
    margin: 257px 0px 0px -200px;
    width: 300px;
    height: 301px;
    background-image: url(../images/dot-bg.png);
}

.service-list {
    padding-left: 120px;
}

.white-box-content {
    position: absolute;
}

.product-style {
    width: 310px;
}