@media only screen and (max-width: 375px) and (min-width: 0) {
    .global-vertical-padding {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .global-padding-top {
        padding-top: 40px;
    }
    .global-padding-bottom {
        padding-bottom: 40px;
    }
    .intro {
        padding-left: 26px;
        padding-right: 26px;
    }
    .navbar {
        padding-left: 561px;
        font-size: 13px;
        li {
            padding: 65px 0px 0px 9px;
        }
    }
    .banner {
        height: auto;
    }
    .slider {
        width: 100%;
        margin-top: 140px;
        height: 250px;
    }
    .item {
        width: 376px;
    }
    .banner-title {
        width: 198px;
        padding-top: 420px;
        margin-left: 20px;
    }
    .primary-heading {
        font-size: 50px;
        line-height: 42px;
    }
    .banner-content {
        width: 305px;
        margin-left: 20px;
    }
    .btn {
        width: 265px;
        padding-left: 20px;
        margin: 46px 0px 89px 20px;
        height: 60px;
    }
    .intro-heading {
        font-size: 24px;
        line-height: 30px;
    }
    .icons {
        padding-left: 15px;
    }
    .icon {
        margin-top: 30px;
    }
    .icon-content {
        padding-top: 35px;
    }
    .gradient-box {
        width: 100%;
        margin-top: 70px;
    }
    .grad-content-padding {
        padding-left: 20px;
        padding-right: 20px;
    }
    .seconday-heading {
        font-size: 35px;
    }
    .product-images {
        display: block;
        padding-left: 20px;
    }
    .product-alignment {
        margin-top: 21px;
    }
    .text-padding {
        padding: 15px 73px 15px 9px;
        text-align: left;
    }
    .icon-grid {
        padding-left: 42px;
    }
    .numbers {
        height: auto;
    }
    .inner-bnr-img1 {
        width: 139%;
        margin-top: -30px;
    }
    .inner-number {
        position: unset;
        width: 100%;
    }
    .white-box-padding {
        padding-left: 9px;
    }
    .grad-box-intro-modify {
        width: 366px;
    }
    .white-box-grid {
        grid-template-columns: 134px 126px;
        margin-left: 20px;
        grid-column-gap: 25px;
    }
    .hl {
        width: 340px;
    }
    .dotted-bg {
        margin: 174px 0px 0px -200px;
    }
    .top-margin {
        margin-top: 0px;
    }
    .large-text {
        font-size: 55px;
    }
    .blog {
        height: auto;
    }
    .product-padding {
        margin-left: 36px;
    }
    .featured {
        font-size: 28px;
    }
    .view-all {
        margin: -22px 10px 10px 256px;
    }
    .pink-arrow {
        margin: -37px 0px 0px 315px;
    }
    
}