@import './partials/_reset.scss';
@import './partials/_global.scss';
@import './partials/_columns.scss';
@import './partials/_pages.scss';
@import './partials/inner-pages.scss';
@import './partials/responsive.scss';